<li class="homeli pull-left">1st lorem ipsum1st lorem ipsum1st lorem ipsum1st lorem ipsum1st lorem ipsum1st lorem ipsum1st lorem ipsum </li>
<li class="homeli pull-left">2nd lorem ipsum2nd lorem ipsum2nd lorem ipsum2nd lorem ipsum2nd lorem ipsum2nd lorem ipsum2nd lorem ipsum </li>
<li class="homeli pull-left">3rd lorem ipsum3rd lorem ipsum3rd lorem ipsum3rd lorem ipsum3rd lorem ipsum3rd lorem ipsum3rd lorem ipsum </li>
<li class="homeli pull-left">4th lorem ipsum4th lorem ipsum4th lorem ipsum4th lorem ipsum4th lorem ipsum4th lorem ipsum4th lorem ipsum </li>
<li class="homeli pull-left">5th lorem ipsum5th lorem ipsum5th lorem ipsum5th lorem ipsum5th lorem ipsum5th lorem ipsum5th lorem ipsum </li>
<li class="homeli pull-left">6th lorem ipsum6th lorem ipsum6th lorem ipsum6th lorem ipsum6th lorem ipsum6th lorem ipsum6th lorem ipsum </li>